{% extends 'shop/basic.html' %} {% block title %}Shop | Home{% endblock title %}
{% block body %} {% block style %}

<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

  * {
    color: white;
  }

  body {
    font-family: "Poppins", sans-serif;
    color: #444444;
    background: #4c4c4c;
  }

  a,
  a:hover {
    text-decoration: none;
    color: inherit;
  }

  .section-products {
    padding: 80px 0 54px;
  }

  .section-products .header {
    margin-bottom: 50px;
  }

  .section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
  }

  .section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #fff;
  }

  .section-products .single-product {
    margin-bottom: 26px;
  }

  .section-products .single-product .part-1 {
    position: relative;
    height: 200px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
  }

  .section-products .single-product .part-1::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.3s;
  }

  .section-products .single-product:hover .part-1::before {
    transform: scale(1.2, 1.2) rotate(5deg);
  }

  .section-products #product-3 .part-1::before {
    background: no-repeat center;
    background-size: cover;
  }

  .imgg {
    object-fit: cover;
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
  }

  .section-products .single-product .part-1 .discount,
  .section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
  }

  .section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
  }

  .section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
  }

  .section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
  }

  .section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
  }

  .section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
  }

  .section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
  }

  .section-products .single-product .part-2 .product-title {
    font-size: 1rem;
  }

  .section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
  }

  .section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
  }

  .section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
  }
  .heading {
    margin-top: 30px;
  }
  .product-background {
    background: #363636;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
  }
.value_back{
  background-color : black;
   padding:  5px; 
  border-radius: 5px
}
</style>
{% endblock style %}

<body>
  <section class="section-products">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-md-8 col-lg-6">
          <div class="header">
            <h3>Featured Product</h3>
            <h2>Popular Products</h2>
          </div>
        </div>
      </div>

      {% for product in allProducts %}
      <h3 class="heading">{{product.0.category | capfirst}}</h3>
      <br />
      <div class="row product-background">
        <br />
        {% for prod in product %}

        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="single-product">
            <div class="part-1">
              <img style="" class="imgg" src="{{ prod.image.url }}" alt="" />
              <ul>
                <li>
                  <span id="divpr{{prod.id}}" class="divpr">
                    <a id="pr{{prod.id}}" class="cart" href="javascript:void(0)"
                      >Cart</a
                    >
                  </span>
                </li>
                <li>
                  <a
                    id="qv{{prod.id}}"
                    class="cart"
                    href="/shop/productview/{{prod.id}}"
                    >View</a
                  >
                </li>
              </ul>
            </div>
            <div class="part-2">
              <a href="/shop/productview/{{prod.id}}">
                <h3 id = 'namepr{{prod.id}}' class="product-title">{{prod.product_name}}</h3>
              </a>

              <h4 class="product-price">${{ prod.price }}</h4>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endfor %} {% comment %}
      <div class="row">
        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="single-product">
            <div class="part-1">
              <img style="" class="imgg" src="{{ i.image.url }}" alt="" />
              <ul>
                <li><a href="#">Cart</a></li>
              </ul>
            </div>
            <div class="part-2">
              <a href="#">
                <h3 class="product-title">{{prod.product_name}}</h3>
              </a>

              <h4 class="product-price">${{prod.price}}</h4>
            </div>
          </div>
        </div>
      </div>
      {% endcomment %}
    </div>
  </section>
  <script
    src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
    integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
    crossorigin="anonymous"
  ></script>
  {% block script %} {% endblock %}
  <script> 
    const cart_class = document.querySelector(".cart");
    if (localStorage.getItem("cart") == null) {
      var cart = {};
    } else {
      cart = JSON.parse(localStorage.getItem("cart"));
      updateCart(cart);
    }

    // If add to cart
    $(".cart").click(function () {
      var idstr = this.id.toString();
      console.log("clicked");
      console.log(idstr);

      if (cart[idstr] != undefined) {
        cart[idstr] = cart[idstr] + 1;
    //    document.querySelector("#cart_val").innerHTML = len;
      } else {
        cart[idstr] = 1;
      }
      localStorage.setItem("cart", JSON.stringify(cart));
      updateCart(cart);
    });
 
  
    function updateCart(cart) {
      for (var item in cart) {
        document.getElementById("div" + item).innerHTML =
          "<button id='minus" +
          item +
          "' class='btn btn-primary minus' >-</button> <span  class = 'value_back' id='val" +
          item +
          "''>" +
          cart[item] +
          "</span> <button id='plus" +
          item +
          "' class='btn btn-primary plus'> + </button>";
      }
      localStorage.setItem('cart', JSON.stringify(cart));
      let len = 0;
      for (const val of Object.values(cart)) {
        len += val;
      }
      $("#cart_val").html(len);
      document.getElementById('cart_val').innerHTML =len
    
    }

    // if plus of minus sign
    $(".divpr").on("click", "button.minus", function () {
     
      let a = this.id;
      let n = a.slice(-3);
      if (cart[n] > 0) {
        cart[n] -= 1;
        document.getElementById("val" + n).innerHTML = cart[n];
      }
      if (cart[n] === 0) {
        //cart[n] = 0;
        $(`#minus${n}`).attr("class", "btn btn-secondary");
        
      }
     
      updateCart(cart)
    });
    $(".divpr").on("click", "button.plus", function () {
    
      let a = this.id;
      let n = a.slice(-3);
      cart[n] += 1;
      document.getElementById("val" + n).innerHTML = cart[n];
      
      updateCart(cart)
    });
 
  function updatePopover(cart){
    console.log('We are inside update popover')
    let popStr  = "";
    popStr = popStr + "<h5>These are the items in your cart </h5>";
    for (let item in cart){
      popStr = popStr + "<b>"  + item + "</b>";
      popStr = popStr  + document.getElementById('name'+item) + "Qty:" + cart[item] + "<br>"

    }
  }
  </script>
{% endblock script %}  {% endblock body %}
</body>
